.language-list {
	position: relative;
	background-color: $white;
	border-radius: 5px;
	box-shadow: 0 1px 5.5px 0.5px rgba($black, 0.08);

	&::before {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		width: 0;
		height: 0;
		border-top: 5px solid $white;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		transform: translateX(-50%);
	}

	&:hover {
		background-color: rgba($gray-300, 0.5);

		&::before {
			border-top: 5px solid rgba($gray-300, 0.5);
		}
	}
}
