.products-group-name {
	display: flex;
	align-items: center;

	.products-counter {
		flex-shrink: 0;
		margin-right: 15px;
	}

	&__text {
		display: inline-block;
		position: relative;

		&:only-child {
			padding-left: 15px;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 9px;
				left: 0;
				width: 6px;
				height: 6px;
				background-color: $gray-800;
				border-radius: 50%;
			}
		}
	}

	&_size_l {
		margin-bottom: 18px;
		font-size: 18px;
	}
}

@media screen and (max-width: 409px) {
	.products-group-name {
		.products-counter {
			margin-right: 10px;
		}
	}
}
