.products-block {
	display: flex;
	justify-content: space-between;
	width: 100%;
	overflow: hidden;

	.products-group {
		flex-basis: 50%;
	}

	&_column {
		flex-direction: column;

		.products-group {
			flex-basis: auto;
		}
	}
}
