.product {
	display: inline-flex;
	color: $gray-600;
	text-decoration: none;
	opacity: 0.4;
	transition: opacity 0.25s ease;

	&__icon {
		flex-shrink: 0;
		width: 18px;
		height: 18px;
		margin-right: 20px;
		color: inherit;
	}

	&__text {
		line-height: 1.25;
	}

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&_active {
		font-weight: 700;
		opacity: 1;
	}
}

@media screen and (max-width: 409px) {
	.product {
		&__icon {
			margin-right: 15px;
		}
	}
}
