mixin collapse-heading(props = {})

  //- - const { iconId } = props;

  .collapse-heading&attributes(attributes)
    block
    //- span.collapse-heading__triangle ▲
    //- .collapse-heading__icon-wrapper
    //-   svg.collapse-heading__icon
    //-     use(xlink:href=`#${iconId}`)
