mixin product(props = {})

  - const { iconId, text, } = props;

  a(href="#").product&attributes(attributes)
    //- svg.product__icon
    //-   use(xlink:href=`#${iconId}`)
    span.product__text= text
