extends ../components/page
include ../components/services-list
include ../components/heading-description
include ../components/breadcrumbs
include ../components/sidebar
include ../components/content
include ../components/heading-2
include ../components/buttons-group
include ../components/button
include ../components/default-styles

block title
  |Лесопокрытые площади

block content
  +header(class="header_scrolled" data-disabled=true)
  main
    .container
      +breadcrumbs
    .container.d_flex
      +sidebar
      +content
        +heading-2({tag: 'h1'})
          |Лесопокрытые площади
        +default-styles
          h2 Текст заголовка h2
          h3 Текст заголовка h3
          h4 Текст заголовка h4
          .images-block
            figure
              img(src="assets/img/card-1.jpg" alt="изображение")
              figcaption Очень, очень, очень длинная подпись фотографии в две или три строчки похожая на эту
            figure
              img(src="assets/img/card-2.jpg" alt="изображение")
              figcaption Очень, очень, очень длинная подпись фотографии в две или три строчки похожая на эту
          p Наиболее пострадали здания вдоль улиц Ленина, Юбилейной, Гидролизной, Карбышева и смежных им. Тем не менее, территория ОАО «Восточно-Сибирский комбинат биотехнологий», занимающегося синтезом химических веществ, сравнительно не пострадала, также как и станция Транссибирской железной дороги, носящая имя города и расположенная в более чем 4 км от русла реки. Впрочем, наводнение миновало почти все полотно основной ветки железной дороги и железнодорожный мост, расположенные к северу от центральной части города. В центре оказались затоплены первые этажи многоэтажных зданий (31 шт) по улице
            |
            |
            b Ленина.
          .images-block.images-block_full-width
            figure
              img(src="assets/img/card-1.jpg" alt="изображение")
              figcaption Очень, очень, очень длинная подпись фотографии в две или три строчки похожая на эту
          p
            |Наиболее пострадали здания вдоль улиц Ленина, Юбилейной, Гидролизной, Карбышева и смежных им. Тем не менее, территория ОАО «Восточно-Сибирский комбинат биотехнологий», занимающегося синтезом химических веществ, сравнительно не пострадала, также как и станция Транссибирской железной дороги, носящая имя города и расположенная в более чем 4 км от русла реки. Впрочем, наводнение миновало почти все полотно основной ветки железной дороги и железнодорожный мост, расположенные к северу от центральной части города. В центре оказались затоплены первые этажи многоэтажных зданий (31 шт) по улице Ленина.
          figure.image-left
            img(src="assets/img/card-1.jpg" alt="изображение")
            figcaption Очень, очень, очень длинная подпись фотографии в две или три строчки похожая на эту
          p
            |Наиболее пострадали здания вдоль улиц Ленина, Юбилейной, Гидролизной, Карбышева и смежных им. Тем не менее, территория ОАО «Восточно-Сибирский комбинат биотехнологий», занимающегося синтезом химических веществ, сравнительно не пострадала, также как и станция Транссибирской железной дороги, носящая имя города и расположенная в более чем 4 км от русла реки. Впрочем, наводнение миновало почти все полотно основной ветки железной дороги и железнодорожный мост, расположенные к северу от центральной части города. В центре оказались затоплены первые этажи многоэтажных зданий (31 шт) по улице Ленина.
          figure.image-right
            img(src="assets/img/card-1.jpg" alt="изображение")
          p
            |Наиболее пострадали здания вдоль улиц Ленина, Юбилейной, Гидролизной, Карбышева и смежных им. Тем не менее, территория ОАО «Восточно-Сибирский комбинат биотехнологий», занимающегося синтезом химических веществ, сравнительно не пострадала, также как и станция Транссибирской железной дороги, носящая имя города и расположенная в более чем 4 км от русла реки. Впрочем, наводнение миновало почти все полотно основной ветки железной дороги и железнодорожный мост, расположенные к северу от центральной части города. В центре оказались затоплены первые этажи многоэтажных зданий (31 шт) по улице Ленина.
          p Наиболее пострадали здания вдоль улиц Ленина, Юбилейной, Гидролизной, Карбышева и смежных им.
            |
            |
            i Тем не менее, территория
            |
            |
            a(href="#") ОАО «Восточно-Сибирский комбинат биотехнологий»
            |, занимающегося синтезом химических веществ, сравнительно не пострадала, также как и станция Транссибирской железной дороги, носящая имя города и расположенная в более чем 4 км от русла реки. Впрочем, наводнение миновало почти все полотно основной ветки
          ol
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
          ul
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
            li Как дела, ребята, уже во всю готовитесь к празднику?
          .responsive-table
            table
              thead
                th Название
                th Название
                th Название
                th Название
              tr
                td Пункт
                td Пункт
                td Пункт
                td Пункт
              tr
                td 01.03.17
                td 325 355,40
                td
                  a(href="#") 235333 от 01.01.18
                td
                  a(href="#") 235333 от 01.01.18
              tr
                td 01.03.17
                td 325 355,40
                td
                  a(href="#") 235333 от 01.01.18
                td
                  a(href="#") 235333 от 01.01.18
              tr
                td Пункт
                td Пункт
                td Пункт
                td Пункт

          +buttons-group
            +button({tag: 'a'})(class="button_color_primary ready-product")
              |Посмотреть готовые продукты
            +button({tag: 'a'})(class="button_color_primary")
              |Заказать продукт
